<section style="padding-left: 20px;">
    <p>galeria works!</p>
    <div style="grid-auto-flow: row;">

        <img src="../../assets/img/palito.jpg" alt="Imagen de palito" width="150px" height="150px">


        <img src="../../assets/img/MicrosoftTeams-image.png" alt="Imagen de palito" width="150px" height="150px">


        <img src="../../assets/img/pakman.png" alt="Imagen de palito" width="150px" height="150px">


        <img src="../../assets/img/momo.jpg" alt="Imagen de palito" width="150px" height="150px">

    </div>
    <button style="border: none; height: 35px; background-color:black; color:white;"
        onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"
        [routerLink]="['/index']">Ir a Index</button>
    <div style="width: 2px; height: 2px;"></div>
    <button style="border: none; height: 35px; background-color:black; color:white;"
        onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"
        [routerLink]="['/home']">Ir a Home</button>
</section>