<section style="padding-left: 20px;">
    <p>index works!</p>
    {{Name}}
    <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at
        its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
        will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
        accident, sometimes on purpose (injected humour and the like).<img src="../../assets/img/palito.jpg" alt="imagen del negro" width="50px" height="50px">
    </p>
    <p>
        Lorem Ipsum，也称乱数假文或者哑元文本， 是印刷及排版领域所常用的虚拟文字。由于曾经一台匿名的打印机刻意打乱了一盒印刷字体从而造出一本字体样品书，Lorem
        Ipsum从西元15世纪起就被作为此领域的标准文本使用。它不仅延续了五个世纪，还通过了电子排版的挑战，其雏形却依然保存至今。在1960年代，”Leatraset”公司发布了印刷着Lorem
        Ipsum段落的纸张，从而广泛普及了它的使用。最近，计算机桌面出版软件”Aldus PageMaker”也通过同样的方式使Lorem Ipsum落入大众的视野。<img src="../../assets/img/MicrosoftTeams-image.png" alt="imagen del negro" width="50px" height="50px">
    </p>
    <div style="width: 2px; height: 2px;"></div>
    <button style="border: none; height: 35px; background-color:black; color:white;"
        onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"
        [routerLink]="['/home']">Ir a Home</button>
    <div style="width: 2px; height: 2px;"></div>
    <button style="border: none; height: 35px; background-color:black; color:white;"
        onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"
        [routerLink]="['/galeria']">Ir a Galeria</button>
</section>