<section style="padding-left: 20px;">
    <p>home works!</p>
    <h1>Bienvenido</h1>
    <button style="border: none; height: 35px; background-color:black; color:white;"
        onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"
        [routerLink]="['/index']">Ir a Index</button>
    <!-- <a [routerLink]="['/index']">Ir a Index</a> -->
    <div style="width: 2px; height: 2px;"></div>
    <button style="border: none; height: 35px; background-color:black; color:white;"
        onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';"
        [routerLink]="['/galeria']">Ir a Galeria</button>
</section>